# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [593]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [596]:
# Create a District Summary
print("Total number of schools are",school_num_nam)
print("Total number of students are",student_num)
print("Total budget is",budget)
print("Average math score",average_score_math)
print("Average reading score",average_score_read)
print("Overall average score",overall_average_score)
print("Percentage of passing math (70 or greater) is:",math_percentage)
print("Percentage of passing reading score (70 or greater) is:", reading_percentage)
dataframe

Total number of schools are 15
Total number of students are 39170
Total budget is 24649428
Average math score 79
Average reading score 82
Overall average score 80.5
Percentage of passing math (70 or greater) is: 75
Percentage of passing reading score (70 or greater) is: 86

,Total schools,Total Students,Total budget,Average math score,Average reading score,Overall passing rate score,Percentage of passing math score,Percentage of passing rading score
0,15,39170,24649428,79,82,80.5,75,86

In [597]:
# Total number of schools
school_num_nam = len(school_data_complete['school_name'].unique())

In [598]:
# Total number of students

student_num = len(school_data_complete['Student ID'])

In [599]:
# Total budget
budget = (school_data_complete['budget'].unique().sum())

In [600]:
# Average math score

average_score_math = round((school_data_complete['math_score'].mean()))

In [601]:
# Average reading score

average_score_read = round((school_data_complete['reading_score'].mean()))

In [602]:
# Overall average score

overall_average_score = (average_score_math+average_score_read)/2

In [603]:
#Percentage of passing math (70 or greater)

math_percentage = round(len(school_data_complete[school_data_complete["math_score"] >= 70]) / student_num * 100)

In [604]:
#Percentage of passing reading score (70 or greater)

reading_percentage = round(len(school_data_complete[school_data_complete["reading_score"] >= 70]) / student_num * 100)

In [605]:
#Create a dataframe to hold the above results
dic_overall = {
    "Total schools": [school_num_nam],\
    "Total Students": [student_num],\
    "Total budget": [budget],\
    "Average math score":[average_score_math],\
    "Average reading score":[average_score_read],\
    "Overall passing rate score":[overall_average_score],\
    "Percentage of passing math score":[math_percentage],\
    "Percentage of passing rading score":[reading_percentage]
}
dataframe = pd.DataFrame(dic_overall)
dataframe

,Total schools,Total Students,Total budget,Average math score,Average reading score,Overall passing rate score,Percentage of passing math score,Percentage of passing rading score
0,15,39170,24649428,79,82,80.5,75,86

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [606]:
school_name = school_data_complete.groupby('school_name')

school_type = school_name['type'].first()
total_students = school_name['student_name'].count()
total_school_budget = school_name['budget'].first()
Per_Student_Budget =  total_school_budget / total_students


Average_Math_Score = round(by_school['math_score'].mean())
Average_Reading_Score = round(by_school['reading_score'].mean())

passing_math = round(school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count() /total_students * 100)
passing_reading = round(school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count() / total_students * 100)
overall_passing_rate = round((passing_math + passing_reading) / 2)



school_overview_table = {
    'School Type': school_type,
    'Total Students': total_students,
    'Total School Budget $': total_school_budget, 
    'Per Student Budget $': Per_Student_Budget,
    'Average Math Score': Average_Math_Score,
    'Average Reading Score': Average_Reading_Score,
    'Passing math %': passing_math,
    'Passing reading %': passing_reading,
    'Overall passing rate': overall_passing_rate,
}

data = pd.DataFrame(school_overview_table)
data

,School Type,Total Students,Total School Budget $,Per Student Budget $,Average Math Score,Average Reading Score,Passing math %,Passing reading %,Overall passing rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.0,81.0,67.0,82.0,74.0
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,94.0,97.0,96.0
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,74.0
Ford High School,District,2739,1763916,644.0,77.0,81.0,68.0,79.0,74.0
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,93.0,97.0,95.0
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,74.0
Holden High School,Charter,427,248087,581.0,84.0,84.0,93.0,96.0,94.0
Huang High School,District,2917,1910635,655.0,77.0,81.0,66.0,81.0,74.0
Johnson High School,District,4761,3094650,650.0,77.0,81.0,66.0,81.0,74.0
Pena High School,Charter,962,585858,609.0,84.0,84.0,95.0,96.0,96.0
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,73.0
Shelton High School,Charter,1761,1056600,600.0,83.0,84.0,94.0,96.0,95.0
Thomas High School,Charter,1635,1043130,638.0,83.0,84.0,93.0,97.0,95.0
Wilson High School,Charter,2283,1319574,578.0,83.0,84.0,94.0,97.0,96.0
Wright High School,Charter,1800,1049400,583.0,84.0,84.0,93.0,97.0,95.0

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [607]:
#  Sort and display the top five schools in overall passing rate

top_performing_schools = data['Overall passing rate'].sort_values(ascending=False).head()
top_performing_schools

school_name
Cabrera High School    96.0
Pena High School       96.0
Wilson High School     96.0
Griffin High School    95.0
Shelton High School    95.0
Name: Overall passing rate, dtype: float64

In [608]:
# Calculate total school budget
total_school_budget = data['Total School Budget $'].sum()
total_school_budget

24649428

In [609]:
# Calculate per student budget

per_student_budget = data['Per Student Budget $'].sort_values(ascending=False).head()
per_student_budget

school_name
Huang High School        655.0
Hernandez High School    652.0
Johnson High School      650.0
Ford High School         644.0
Figueroa High School     639.0
Name: Per Student Budget $, dtype: float64

In [610]:
# Cacluate the avg math and reading score
avg_math_score = data['Average Math Score'].mean()
avg_reading_score = data['Average Reading Score'].mean()
print('Average math score:', avg_math_score)
print('Average reading score:', avg_reading_score)

Average math score: 80.4
Average reading score: 82.6

#### Find the passing rate for math and reading (above 70 points)

In [611]:
# Find the total counts of math result
total_counts_math = school_data_complete[school_data_complete['math_score'] >= 70].count()
print("The total counts of math result:", total_counts_math[1])

# Find the counts for math result in each school that pass 70 or higher

passed_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()
print(passed_math)

#Calculate the math passing rate
math_percentage = round(len(school_data_complete[school_data_complete["math_score"] >= 70]) / student_num * 100)
print('The math passing rate: %',math_percentage)

The total counts of math result: 29370
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64
The math passing rate: % 75

In [612]:
# Find the total counts of read result
total_counts_reading = school_data_complete[school_data_complete['reading_score'] >= 70].count()
print("The total counts of reading result:", total_counts_reading[1])

# Find the counts for read result in each school that pass 70 or higher
passed_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()
print(passed_reading)

# Calculate the read passing rate

reading_percentage = round(len(school_data_complete[school_data_complete["reading_score"] >= 70]) / student_num * 100)
print('The reading passing rate: %',reading_percentage)

The total counts of reading result: 33610
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64
The reading passing rate: % 86

In [613]:
# Calculate the overall passing rate (average of the math and reading passing rate)

overall_passing_rate = round((math_percentage + reading_percentage) / 2)
overall_passing_rate

80

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [614]:
#  Sort and display the worst five schools in overall passing rate
worst_performing_schools = data['Overall passing rate'].sort_values(ascending=False).tail()
worst_performing_schools

school_name
Ford High School         74.0
Hernandez High School    74.0
Huang High School        74.0
Johnson High School      74.0
Rodriguez High School    73.0
Name: Overall passing rate, dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [615]:
# Create table that lists the average math score for each school of each grade level.


math_scores_by_grade = round(school_data_complete.groupby(['grade','school_name'])['math_score'].mean().unstack())
math_scores_by_grade

school_name,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School
grade,,,,,,,,,,,,,,,
10th,77.0,83.0,77.0,78.0,84.0,77.0,83.0,76.0,77.0,83.0,77.0,83.0,83.0,84.0,84.0
11th,78.0,83.0,77.0,77.0,84.0,77.0,85.0,76.0,77.0,84.0,76.0,83.0,83.0,83.0,84.0
12th,76.0,83.0,77.0,76.0,83.0,77.0,83.0,77.0,77.0,84.0,78.0,84.0,83.0,83.0,84.0
9th,77.0,83.0,76.0,77.0,82.0,77.0,84.0,77.0,77.0,84.0,77.0,83.0,84.0,83.0,83.0

In [616]:
# Calculate the average math score for 9th grade in each school

ninth_grade_math_scores = round(school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean())
ninth_grade_math_scores

school_name
Bailey High School       77.0
Cabrera High School      83.0
Figueroa High School     76.0
Ford High School         77.0
Griffin High School      82.0
Hernandez High School    77.0
Holden High School       84.0
Huang High School        77.0
Johnson High School      77.0
Pena High School         84.0
Rodriguez High School    77.0
Shelton High School      83.0
Thomas High School       84.0
Wilson High School       83.0
Wright High School       83.0
Name: math_score, dtype: float64

In [617]:
# Calculate the average math score for 10th grade in each school
tenth_grade_math_scores = round(school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean())
tenth_grade_math_scores

school_name
Bailey High School       77.0
Cabrera High School      83.0
Figueroa High School     77.0
Ford High School         78.0
Griffin High School      84.0
Hernandez High School    77.0
Holden High School       83.0
Huang High School        76.0
Johnson High School      77.0
Pena High School         83.0
Rodriguez High School    77.0
Shelton High School      83.0
Thomas High School       83.0
Wilson High School       84.0
Wright High School       84.0
Name: math_score, dtype: float64

In [618]:
# Calculate the average math score for 11th grade in each school

eleventh_grade_math_scores = round(school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean())
eleventh_grade_math_scores

school_name
Bailey High School       78.0
Cabrera High School      83.0
Figueroa High School     77.0
Ford High School         77.0
Griffin High School      84.0
Hernandez High School    77.0
Holden High School       85.0
Huang High School        76.0
Johnson High School      77.0
Pena High School         84.0
Rodriguez High School    76.0
Shelton High School      83.0
Thomas High School       83.0
Wilson High School       83.0
Wright High School       84.0
Name: math_score, dtype: float64

In [619]:
# Calculate the average math score for 12th grade in each school
Twelveth_grade_math_scores = round(school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean())
Twelveth_grade_math_scores

school_name
Bailey High School       76.0
Cabrera High School      83.0
Figueroa High School     77.0
Ford High School         76.0
Griffin High School      83.0
Hernandez High School    77.0
Holden High School       83.0
Huang High School        77.0
Johnson High School      77.0
Pena High School         84.0
Rodriguez High School    78.0
Shelton High School      84.0
Thomas High School       83.0
Wilson High School       83.0
Wright High School       84.0
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [620]:
# Create table that lists the average reading score for each school of each grade level.
reading_scores_by_grade = round(school_data_complete.groupby(['grade','school_name'])['reading_score'].mean().unstack())
reading_scores_by_grade

school_name,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School
grade,,,,,,,,,,,,,,,
10th,81.0,84.0,81.0,81.0,84.0,81.0,83.0,82.0,81.0,84.0,81.0,83.0,84.0,84.0,84.0
11th,81.0,84.0,81.0,80.0,84.0,81.0,84.0,81.0,81.0,84.0,81.0,84.0,84.0,84.0,84.0
12th,81.0,84.0,81.0,81.0,84.0,81.0,85.0,80.0,81.0,85.0,80.0,83.0,84.0,84.0,84.0
9th,81.0,84.0,81.0,81.0,83.0,81.0,84.0,81.0,81.0,84.0,81.0,84.0,84.0,84.0,84.0

In [621]:
# Calculate the average reading score for 9th grade in each school
ninth_grade_reading_scores = round(school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean())
ninth_grade_reading_scores

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.0
Ford High School         81.0
Griffin High School      83.0
Hernandez High School    81.0
Holden High School       84.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    81.0
Shelton High School      84.0
Thomas High School       84.0
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [622]:
# Calculate the average reading score for 10th grade in each school

tenth_grade_reading_scores = round(school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean())
tenth_grade_reading_scores

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.0
Ford High School         81.0
Griffin High School      84.0
Hernandez High School    81.0
Holden High School       83.0
Huang High School        82.0
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    81.0
Shelton High School      83.0
Thomas High School       84.0
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [623]:
# Calculate the average reading score for 11th grade in each school

eleventh_grade_reading_scores = round(school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean())
eleventh_grade_reading_scores

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.0
Ford High School         80.0
Griffin High School      84.0
Hernandez High School    81.0
Holden High School       84.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    81.0
Shelton High School      84.0
Thomas High School       84.0
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [624]:
# Calculate the average reading score for 12th grade in each school

Twelveth_grade_reading_scores = round(school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean())
Twelveth_grade_reading_scores

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.0
Ford High School         81.0
Griffin High School      84.0
Hernandez High School    81.0
Holden High School       85.0
Huang High School        80.0
Johnson High School      81.0
Pena High School         85.0
Rodriguez High School    80.0
Shelton High School      83.0
Thomas High School       84.0
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [625]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [626]:
# Create a new column to show budget per student in each row

school_data_complete["Budget per Student"] = school_data_complete["budget"] / school_data_complete["size"]
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Budget per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [627]:
# Create a new column to define the spending ranges per student

school_data_complete['Spending Ranges (Per Student)'] = pd.cut(school_data_complete['Budget per Student'], spending_bins, labels=group_names)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Budget per Student,Spending Ranges (Per Student)
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,$645-675

In [628]:
# Calculate the average math score within each spending range


math_score_spending_range = school_data_complete.groupby("Spending Ranges (Per Student)")["math_score"].mean()
math_score_spending_range

Spending Ranges (Per Student)
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
$645-675    77.049297
Name: math_score, dtype: float64

In [629]:
# Calculate the average reading score within each spending range
reading_score_spending_range = school_data_complete.groupby("Spending Ranges (Per Student)")["reading_score"].mean()
reading_score_spending_range

Spending Ranges (Per Student)
<$585       83.964039
$585-615    83.838414
$615-645    81.434088
$645-675    81.005604
Name: reading_score, dtype: float64

In [630]:
# Calculate the percentage passing rate for math in each spending range


passing_math_spending_range = school_data_complete[school_data_complete["math_score"] >= 70].groupby("Spending Ranges (Per Student)")["math_score"].count() / school_data_complete.groupby("Spending Ranges (Per Student)")["math_score"].count() * 100
passing_math_spending_range

Spending Ranges (Per Student)
<$585       93.702889
$585-615    94.124128
$615-645    71.400428
$645-675    66.230813
Name: math_score, dtype: float64

In [631]:
# Calculate the percentage passing rate for reading in each spending range

passing_reading_spending_range = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("Spending Ranges (Per Student)")["reading_score"].count() / school_data_complete.groupby("Spending Ranges (Per Student)")["reading_score"].count() * 100
passing_reading_spending_range

Spending Ranges (Per Student)
<$585       96.686558
$585-615    95.886889
$615-645    83.614770
$645-675    81.109397
Name: reading_score, dtype: float64

In [632]:
# Calculate the percentage overall passing rate in each spending range

overall_passing_spending_range = (passing_math_spending_range + passing_reading_spending_range) / 2
overall_passing_spending_range

Spending Ranges (Per Student)
<$585       95.194724
$585-615    95.005509
$615-645    77.507599
$645-675    73.670105
dtype: float64

In [633]:
scores_by_school_spending_dataframe = pd.DataFrame({
    "Average Math Score": math_score_spending_range,
    "Average Reading Score": reading_score_spending_range,
    "Passing Math %": passing_math_spending_range,
    "Passing Reading %": passing_reading_spending_range,
    "Overall Passing Rate %": overall_passing_spending_range
})
scores_by_school_spending_dataframe.index.name = "Spending Ranges (Per Student)"
scores_by_school_spending_dataframe = scores_by_school_spending_dataframe.reindex(group_names)
round(scores_by_school_spending_dataframe)

,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate %
Spending Ranges (Per Student),,,,,
<$585,83.0,84.0,94.0,97.0,95.0
$585-615,84.0,84.0,94.0,96.0,95.0
$615-645,78.0,81.0,71.0,84.0,78.0
$645-675,77.0,81.0,66.0,81.0,74.0

### Scores by School Size

* Perform the same operations as above, based on school size.

In [634]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [638]:
# Create a new column for the bin groups
school_data_complete['Size Bins'] = pd.cut(school_data_complete['size'], size_bins, labels=group_names)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Budget per Student,Spending Ranges (Per Student),Size Bins
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)

In [646]:
# Calculate the average math score within School Size

math_score_school_size = school_data_complete.groupby("Size Bins")["math_score"].mean()
math_score_school_size

Size Bins
Small (<1000)         83.828654
Medium (1000-2000)    83.372682
Large (2000-5000)     77.477597
Name: math_score, dtype: float64

In [640]:
# Calculate the average reading score within School Size

reading_score_school_size = school_data_complete.groupby("Size Bins")["reading_score"].mean()
reading_score_school_size

Size Bins
Small (<1000)         83.974082
Medium (1000-2000)    83.867989
Large (2000-5000)     81.198674
Name: reading_score, dtype: float64

Look for the total count of test scores that pass 70% or higher

In [641]:
# math_pass_size

passing_math_school_size = school_data_complete[school_data_complete["math_score"] >= 70].groupby("Size Bins")["math_score"].count() / school_data_complete.groupby("Size Bins")["math_score"].count() * 100
passing_math_school_size

Size Bins
Small (<1000)         93.952484
Medium (1000-2000)    93.616522
Large (2000-5000)     68.652380
Name: math_score, dtype: float64

In [642]:
# read_pass_size

passing_reading_school_size = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("Size Bins")["reading_score"].count() / school_data_complete.groupby("Size Bins")["reading_score"].count() * 100
passing_reading_school_size

Size Bins
Small (<1000)         96.040317
Medium (1000-2000)    96.773058
Large (2000-5000)     82.125158
Name: reading_score, dtype: float64

In [643]:
# Calculate the overall passing rate for different school size

overall_passing_school_size = (passing_math_school_size + passing_reading_school_size) / 2
overall_passing_school_size

Size Bins
Small (<1000)         94.996400
Medium (1000-2000)    95.194790
Large (2000-5000)     75.388769
dtype: float64

In [647]:
scores_by_school_size_dataframe = pd.DataFrame({
    "Average Math Score": math_score_school_size,
    "Average Reading Score": reading_score_school_size,
    "Passing Math %": passing_math_school_size,
    "Passing Reading %": passing_reading_school_size,
    "Overall Passing Rate %": overall_passing_school_size
})
scores_by_school_size_dataframe.index.name = "Size Bins"
scores_by_school_size_dataframe = scores_by_school_size_dataframe.reindex(group_names)
round(scores_by_school_size_dataframe)

,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate %
Size Bins,,,,,
Small (<1000),84.0,84.0,94.0,96.0,95.0
Medium (1000-2000),83.0,84.0,94.0,97.0,95.0
Large (2000-5000),77.0,81.0,69.0,82.0,75.0

### Scores by School Type

* Perform the same operations as above, based on school type.

In [656]:
# Create bins and groups, school type {'Charter', 'District'}
type_bins = ['Charter', 'District']
group_names = ['Charter', 'District']

In [658]:
# Calculate the average math score within School Type

math_score_school_type = school_data_complete.groupby("type")["math_score"].mean()
math_score_school_type

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [659]:
# Calculate the average reading score within School Type

reading_score_school_type = school_data_complete.groupby("type")["reading_score"].mean()
reading_score_school_type

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

Find counts of the passing 70 or higher score for the both test

In [660]:
# math pass size

passing_math_school_type = school_data_complete[school_data_complete["math_score"] >= 70].groupby("type")["math_score"].count() / school_data_complete.groupby("type")["math_score"].count() * 100
passing_math_school_type

type
Charter     93.701821
District    66.518387
Name: math_score, dtype: float64

In [661]:
# reading pass size
passing_reading_school_type = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("type")["reading_score"].count() / school_data_complete.groupby("type")["reading_score"].count() * 100
passing_reading_school_type

type
Charter     96.645891
District    80.905249
Name: reading_score, dtype: float64

In [662]:
# Calculate the overall passing rate

overall_passing_school_type = (passing_math_school_type + passing_reading_school_type) / 2
overall_passing_school_type

type
Charter     95.173856
District    73.711818
dtype: float64

In [663]:
scores_by_school_type_dataframe = pd.DataFrame({
    "Average Math Score": math_score_school_type,
    "Average Reading Score": reading_score_school_type,
    "Passing Math %": passing_math_school_type,
    "Passing Reading %": passing_reading_school_type,
    "Overall Passing Rate %": overall_passing_school_type
})
scores_by_school_type_dataframe.index.name = "type"
scores_by_school_size_dataframe = scores_by_school_type_dataframe.reindex(group_names)
round(scores_by_school_type_dataframe)

,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate %
type,,,,,
Charter,83.0,84.0,94.0,97.0,95.0
District,77.0,81.0,67.0,81.0,74.0